@import "tailwindcss";

@theme {
  --animate-image-appear: fadeIn 0.6s ease-in-out 1;

  @keyframes fadeIn {
    0% {
      opactiy: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@theme {
  --animate-dropdown-appear: dropdownAppear 0.14s ease-in-out both 1;

  @keyframes dropdownAppear {
    0% {
      transform-origin: top center;
      transform: scale(1, 0);
    }
    100% {
      transform-origin: top center;
      transform: scale(1, 1);
    }
  }
}
@theme {
  --animate-dropdown-text-appear: dropdownTextAppear 0.1s ease-in-out 0.2s both
    1;

  @keyframes dropdownTextAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@theme {
  --animate-hero-appear: heroAppear 0.75s ease-in-out both 1;

  @keyframes heroAppear {
    0% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
    70% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
