@import "tailwindcss";


@theme {
  /* Button color*/
  --color-btn-yellow:      #E1AA4C;

  /* Widely used colors */
  --color-main-darkpurple: #514776; /* Used for footer and buttons */
  --color-main-grey:       #575757; /* Used for most text */
  --color-main-yellow:     #F5CA77; /* Used for footer */

  /* Text highlighting and headers */
  --color-link-blue:       #2C03FC; /* Links */
  --color-secondary-grey:  #505050; /* Some sub text */
  --color-header-purple:   #60588E; /* Purple header text */
  --color-header-teal:     #3D8A8A; /* Teal subheader text */
  --color-footer-text:     #9791AD; /* Text used in the footer of the page */
}

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
