@import "tailwindcss";

@theme {
  /* ------------ COLORING ------------ */

  /* Button color*/
  --color-btn-yellow: #e1aa4c;
  --color-btn-purple: #514776; /* Used for buttons */

  /* Widely used colors */
  --color-main-darkpurple: #514776; /* Used for footer */
  --color-main-grey: #575757; /* Used for most text */
  --color-main-yellow: #f5ca77; /* Used for footer */

  /* Text highlighting and headers */
  --color-link-blue: #2c03fc; /* Links */
  --color-secondary-grey: #505050; /* Some sub text */
  --color-header-purple: #60588e; /* Purple header text */
  --color-header-teal: #3d8a8a; /* Teal subheader text */
  --color-footer-grey: #9791ad; /* Text used in the footer of the page */
}

/* ------------ TEXT SIZING ------------ */

/* Highlighting */
::selection{
  color: #ffffff;
  background: #000000;
}

/* Titles */
@utility text-title {
  font-size: 70px;
  line-height: 1.1em;
}

/* Headers */
@utility text-h1 {
  font-size: 30px;
  line-height: 1.2em;
}

/* Subheaders */
@utility text-h2 {
  font-size: 25px;
  line-height: 1.4em;
}

/* Subsubheaders */
@utility text-h3 {
  font-size: 20px;
  line-height: 1.4em;
}

/* Normal Text */
@utility text-body {
  font-size: 18px;
  line-height: 1.6em;
}

/* Small Summary body text */
@utility text-body-small {
  font-size: 14px;
  line-height: 1.6em;
}

html {
  font-family: var(--font-quicksand);
  background-color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@theme {
  --animate-image-appear: fadeIn 0.6s ease-in-out 1;

  @keyframes fadeIn {
    0% {
      opactiy: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@theme {
  --animate-dropdown-appear: dropdownAppear 0.14s ease-in-out both 1;

  @keyframes dropdownAppear {
    0% {
      transform-origin: top center;
      transform: scale(1, 0);
    }
    100% {
      transform-origin: top center;
      transform: scale(1, 1);
    }
  }
}
@theme {
  --animate-dropdown-text-appear: dropdownTextAppear 0.1s ease-in-out 0.2s both;

  @keyframes dropdownTextAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@theme {
  --animate-hero-appear: heroAppear 0.75s ease-in-out both 1;

  @keyframes heroAppear {
    0% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
    70% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
